<div class="container">
  <div class="content">
    <form (ngSubmit)="addNote()">
      <input type="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
      <button class="green" [disabled]="loading" type="submit">
        <span class="btn-text">Add</span>
        <span class="lds-dual-ring-button"></span>
      </button>
    </form>

    <div class="title">
      To watch list:
    </div>
    <div class="list-wrap">
      <ng-container *ngIf="!loading; else loadingSpinner">
        <div class="list-item" *ngFor="let note of notes">
          <div class="list-item-text">{{ note.text }}</div>
          <button class="red" (click)="removeNote(note.id)" type="button">Delete</button>
        </div>
      </ng-container>
    </div>

    <ng-template #loadingSpinner>
      <div *ngIf="loading" class="loader-wrap">
        <div class="lds-dual-ring"></div>
      </div>
    </ng-template>
  </div>
</div>
