form {
  display: flex;
  padding: 6px;
  border: 1px solid #7f7f7f;
}
input,
select,
textarea{
  width: 100%;
}

textarea {
  min-height: 180px;
}

input,
select {
  height: 30px;
  padding: 0 4px;
}
.list-wrap {

}
.list-item {
  padding: 6px;
  border: 1px solid #7f7f7f;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
